<!DOCTYPE html>
<html lang="en">

<%- include('./patiat/header.ejs') %>
    <script>
        var deletedata
        var editfire
        var edittest
        $(document).ready(function () {
            $('.btnEdit').click(function () {
                const editfield = JSON.parse($(this).attr('blogData'))
                console.log(editfield)
                editfire = JSON.parse($(this).attr('blogID'))
                edittest = JSON.parse($(this).attr('blogDetail'))

                $('#Adddrug').val(editfield.drug_name)
                $('#Adddrugnumber').val(editfield.drug_quantity)
                $('#Adddrugdate').val(editfield.drug_date)
                $('#Adddrugtime').val(editfield.drug_time_start)
                $('#Adddrugnote').val(editfield.drug_note)
                $('#myModal').modal()
                console.log(editfield)
                deletedata = editfield.uid

            })

            $('.btnDelete').click(function () {
                //deletedata=$(this ).attr('blogID')          
                //det()
                const editfield = JSON.parse($(this).attr('blogData'))
                console.log(editfield)
                drug_notification_id = editfield

                const editfire = JSON.parse($(this).attr('blogID'))
                console.log(editfire)

                $.ajax({
                    type: 'POST',
                    url: '/deletedruguser',
                    data: { 'id': drug_notification_id, 'email': editfire }
                }).done(function (data, state, xhr) {
                    //alert(data)
                    window.location.reload()
                })               

            })

            $('#saveedit').click(function () {
                const savedrug = $('#Adddrug').val()
                const savedrugnumber = $('#Adddrugnumber').val()
                const savedrugdate = $('#Adddrugdate').val()
                const savedrugtime = $('#Adddrugtime').val()
                const savedrugnote = $('#Adddrugnote').val()
                const email = editfire
                const id = edittest

                alert(id)

                $.ajax({
                    type: 'PUT',
                    url: '/editdruguser',
                    data: { email: email, 'savedrug': savedrug, 'savedrugnumber': savedrugnumber, 'savedrugdate': savedrugdate, 'savedrugtime': savedrugtime, 'savedrugnote': savedrugnote, 'id': id }
                }).done(function (data, state, xhr) {
                    window.location.reload()
                })

            })



        })


    </script>

    <body>
        <%- include('./patiat/napbar.ejs') %>
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        <h1>
                            <tr>
                                <td>เพิ่มยาของผู้ใช้</td>
                            </tr>
                        </h1>
                    </div>
                </div class=''>
                <table class="table table-bordered table-striped mt">
                    <thead class="thead-dark">
                        <tr>
                            <th>ชื่อยา</th>
                            <th>จำนวนยา(เม็ด/ครั้ง)</th>
                            <th>วันที่</th>
                            <th>เวลา</th>
                            <th>หมายเหตุ</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <% for( let index=0; index < result.length; index++ ) { %>
                            <tr>
                                <td>
                                    <%= result[index].drug_name %>
                                </td>
                                <td>
                                    <%= result[index].drug_quantity %>
                                </td>
                                <td>
                                    <%= result[index].drug_date %>
                                </td>
                                <td>
                                    <%= result[index].drug_time_start %>
                                </td>
                                <td>
                                    <%= result[index].drug_note %>
                                </td>

                                <td> <button type="button" class="btn btn-warning btnEdit"
                                        blogID="<%= JSON.stringify(email) %>"
                                        blogData="<%= JSON.stringify(result[index]) %>"
                                        blogDetail="<%= JSON.stringify(useid[index]) %>">Edit</button> 
                                        <button
                                        type="button" class="btn btn-danger btnDelete "
                                        blogData="<%= JSON.stringify(useid[index]) %>"
                                        blogID="<%= JSON.stringify(email) %>">Delete
                                    </button>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">แก้ไขยาที่นี่</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="exampleInputEmail1">ชื่อยา</label>
                            <input class="form-control" id="Adddrug" placeholder="กรุณากรอกชื่อยา"><br>
                            <label for="exampleInputEmail1">จำนวน(เม็ด/ครั้ง)</label>
                            <input type="number" class="form-control" id="Adddrugnumber"
                                placeholder="กรุณากรอกจำนวนยา"><br>
                            <label for="exampleInputEmail1">วันที่</label>
                            <input type="date" class="form-control" id="Adddrugdate" placeholder="กรุณากรอกวันที่"><br>
                            <label for="exampleInputEmail1">เวลา</label>
                            <input type="time" class="form-control" id="Adddrugtime" placeholder="กรุณากรอกเวลา"><br>
                            <label for="exampleInputEmail1">หมายเหตุ</label><br>
                            <textarea id="Adddrugnote" cols="60" rows="3" placeholder="กรุณากรอกหมายเหตุ"></textarea>
                            <br>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="saveedit">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="myModaladd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="exampleInputEmail1">Name</label>
                            <input class="form-control" id="addName" aria-describedby="emailHelp"
                                placeholder="กรุณากรอกชื่อ">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="addEmail" aria-describedby="emailHelp"
                                placeholder="กรุณากรอกอีเมล">
                            <label for="exampleInputEmail1">NumberHN</label>
                            <input type="tel" class="form-control" id="addNumberHN" aria-describedby="emailHelp"
                                placeholder="กรุณากรอกเลขHN">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="saveadd">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

    </body>

</html>